* {
    margin: 0;
    padding: 0;
}
/*Loader*/
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease; 
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid red; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


#body_home {
    margin: 0;
    padding: 0;
    background-color: black;  
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    
}
#img-logo {
    width: 50px;
    height: 50px;
}

/*nav for all*/

nav {
    background-color: transparent;
    padding: 10px;
}
nav a:hover {
    color: grey;
}
nav li:first-child {
    padding: 10px 10px;
    margin-right: auto;
}

/*side-bar*/
.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 0;
    width: 200px;
    z-index: 999;
    background-color: rgba(48, 47, 47, 0.445);
    backdrop-filter: blur(50px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.side-bar li {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.side-bar a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
#menu, #close{
    fill: white;
}
.menu {
    display: none;
}

/*top-bar*/
.top-bar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-bar a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.top-bar .links {
    margin-right: 50px;

}

/*contents*/
#rec {
    color: white;
    font-size: 15px;
    padding: 20px;
    margin-left: 5%;
    margin-top: 5%;
}
.mid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 5%; 
    box-sizing: border-box; 
    height: 500px;
}
.mid .see-all {
    align-self: center;
}
.container1, .container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.container1 .image-wrapper, .container2 .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 60px) / 3); 
    height: 150px; 
    max-width: 250px; 
    box-sizing: border-box;
    margin-top: 20px;
}

.container1 .image-wrapper img, .container2 .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
}

.container1 .play-button, .container2 .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: 50%; 
    fill: white;
    display: none;
}
.container1 .image-wrapper:hover img, 
.container2 .image-wrapper:hover img {
    filter: blur(2px); 
}
.container1 .image-wrapper .play-button,
.container2 .image-wrapper .play-button {
    fill: white;
    opacity: 0; 
    transition: fill 1s ease, opacity 1s ease; 
}

.container1 .image-wrapper:hover .play-button,
.container2 .image-wrapper:hover .play-button {
    opacity: 1; 
    display: block;
}

.container1 .image-wrapper:hover .play-button:hover,
.container2 .image-wrapper:hover .play-button:hover {
    fill: rgba(128, 8, 8, 0.842); 
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.text {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;

    height: 250px;
    width: 300px;
    flex-wrap: wrap;
    transition: 0.5s ease-in-out;
}
.text:hover {
    background-color: white;
    transition: 0.5s ease-in-out;
}

.text:hover #text-h1,
.text:hover #text-p {
    color: black;
    transition: 0.5 ease-in-out; 
}

#text-h1 {
    font-size: 30px;
}

#text-p {
    font-size: 15px;
    font-weight: light;
}

.see-all {
    margin-top: 5%;
}
.see-all a{
    text-decoration-color: white;
}
#see-all {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}


/*pop-up*/
.mid .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.mid .pop-up span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.mid .pop-up video {
    width: 300px;
    height: 500px;
    border: 2px solid white;
    object-fit: cover;
}
.con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Responsiveness*/


@media (max-width: 800px) {
    .links {
        display: none;
    }
    .menu {
        display: block;
    }
    .side-bar {
        width: 250px;
    }
}
@media (min-width: 800px) {
    .text {
        width: auto;
     }
     #text-p {
         padding: 20px;
     }
}
